In [1]:
import numpy as np
import pandas as pd
import os
from pattern_matching_algorithm import pattern_matching_algorithm
from matching_algorithm import matching_algorithm
from online_learning_algorithm import online_learning_algorithm

In [2]:
#read NyseTickerMerged.csv
tickers_data = pd.read_csv('Data/nysemerged/NyseTickerMerged.csv')
names = tickers_data['Name'].values
names

# Directory containing the CSV files
directory = 'Data/nysemerged/'

# Read CSV files into a dictionary of DataFrames
data_dict = {}
for name in names:
    filepath = os.path.join(directory, name + '.csv')
    df = pd.read_csv(filepath, header=None, names=['yearmmdate', 'relative_price'])
    data_dict[name] = df

# Convert the dictionary to a DataFrame
df_list = []

for stock, df in data_dict.items():
    df = df.rename(columns={'relative_price': stock})
    df_list.append(df.set_index('yearmmdate'))

# Merge all the DataFrames on the 'yearmmdate' index
merged_df = pd.concat(df_list, axis=1)

# Handle missing values if any (optional, depending on your requirement)
merged_df = merged_df.dropna()

# Convert the DataFrame to a NumPy array for use in algorithms
features = merged_df.values

In [55]:
merged_df.head()

,ahp,alcoa,amerb,coke,comme,dow,dupont,ford,ge,gm,...,jnj,kimbc,kinar,kodak,merck,mmm,morris,pandg,schlum,sherw
yearmmdate,,,,,,,,,,,,,,,,,,,,,
620703,1.01515,1.02765,1.04183,1.00637,1.04938,1.00847,1.01983,1.00000,1.00000,1.01026,...,0.99683,1.05340,0.93333,0.99461,1.03148,1.03377,1.01495,1.00775,1.01176,0.99697
620705,1.01493,1.04036,0.98905,1.00475,0.95294,1.00840,1.00833,1.00157,1.02187,0.99746,...,1.00318,1.00461,1.00000,1.01491,1.00898,1.00251,1.00000,1.00192,1.01938,0.99088
620706,1.00000,0.97629,0.97786,0.98583,0.98765,0.99722,0.99449,0.98116,0.97860,0.98219,...,0.95873,0.98165,1.00000,0.97864,0.98043,0.95990,0.97218,0.98656,0.97338,1.02761
620709,1.02451,1.00662,1.02642,1.01917,1.00000,0.99443,1.00693,1.02720,1.00795,0.98705,...,1.01325,0.98131,1.00000,1.02729,1.01089,1.03655,0.99663,1.00778,1.00000,1.00299
620710,1.03100,0.98465,1.00368,1.00313,1.05000,1.02801,1.00413,1.04361,1.00394,1.00525,...,1.00654,1.02381,1.14286,0.99867,1.01077,0.99496,0.98649,1.01158,1.01563,1.01190

In [3]:

# Initialize example parameters
# features = np.random.random((100, 5))  # Example feature matrix
agent_params = [(3, 5, 2, 1)]  # Example agent parameters: (k, l, s_n, tau)
partitions = [features]  # Example partitions
k_tuple = features[-3:]  # Example k-tuple from the last 3 timesteps
data_partitions = features  # Example data partitions


# Call the pattern matching algorithm
Hn_t_plus_1 = pattern_matching_algorithm(features, agent_params, partitions, matching_algorithm)

In [52]:

# Example parameters for the online learning algorithm
xt = np.random.random(5)  # Example current features
bt = np.random.random(5)  # Example current portfolio controls
Hn_t = np.random.random((1, 5))  # Example current agent controls
Sn_t_minus_1 = np.random.random(1)  # Example past agent wealth
St_minus_1 = np.random.random()  # Example past portfolio wealth
rule_g = lambda q, S: q * S / np.sum(q * S)  # Example rule function

# Call the online learning algorithm
bt_plus_1, Sn_t, St, qn_t_plus_1 = online_learning_algorithm(Hn_t_plus_1, xt, bt, Hn_t, Sn_t_minus_1, St_minus_1, rule_g)

print("Updated portfolio controls:", bt_plus_1)
print("Updated agent wealth:", Sn_t)
print("Updated portfolio wealth:", St)
print("Updated agent mixture:", qn_t_plus_1)

Updated portfolio controls: [0.04366643 0.04435225 0.04331356 0.04328629 0.04414659 0.04376731
 0.04417387 0.04313475 0.04302867 0.04155182 0.04317675 0.04363266
 0.04400371 0.04336768 0.04320965 0.04308236 0.04419379 0.04321528
 0.04364348 0.04343912 0.04352745 0.04364175 0.04344475]
Updated agent wealth: [-0.11183895]
Updated portfolio wealth: -0.2207407756912189
Updated agent mixture: [0.04329668]

In [54]:
Hn_t_plus_1

array([[1.00854, 1.02438, 1.00039, 0.99976, 1.01963, 1.01087, 1.02026,
        0.99626, 0.99381, 0.9597 , 0.99723, 1.00776, 1.01633, 1.00164,
        0.99799, 0.99505, 1.02072, 0.99812, 1.00801, 1.00329, 1.00533,
        1.00797, 1.00342]])